<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instance ID: {{instance}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='instance.css')}}">
</head>
<body>
    <div class="background"></div>
    <div class="heading">
        <p id="heading">Instance {{instance}}</p>
        <p id="leave_room" class="no-select" onclick="exitInstance()">Exit Instance</p>
    </div>
    <div class="commsarea">
        <div class="msgarea" id="message">
        </div>
        <div class="sendmsg">
            <input type="text" name="send_msg" id="send_msg" placeholder="Jack in your message">
            <p id="sendbtn" class="no-select" onclick="sendMessage()">Send</p>
        </div>
    </div>
    <script>
        var input = document.getElementById("send_msg");
        input.addEventListener("keypress", function(event) {     
        if (event.key === "Enter") {        
            event.preventDefault();
            document.getElementById("sendbtn").click();
        }
        });
        const send_keyboard = document.getElementById("send_msg");
        window.addEventListener("resize", () => {
        send_keyboard.scrollIntoView({ behavior: "smooth", block: "nearest" });
        });
    </script>
    <script src="{{url_for('static',filename='socket.io.js')}}"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.emit('join',{ instance:"{{instance}}",handle:"{{ handle }}" });
        socket.on('ack_join',function(data){
            enter_msg=document.getElementById('message');
            let enter=`<span><span class='yellow'>${data.msg}</span><span class="gray">${data.time}</span></span>`
            enter_msg.innerHTML+=enter;
        })
        function exitInstance(){
            socket.emit("exit_instance",{instance: "{{instance}}",handle: "{{handle}}"});
        }
        socket.on('exit_ack',function(){
            window.location.href='/';
        })
        socket.on('exit_msg',function(data){
            msgarea=document.getElementById('message');
            leave_msg=`<span><span class='exit'>${data.handle} has disconnected from the instance</span><span class="gray">${data.time}</span></span>`;
            msgarea.innerHTML+=leave_msg;
        })
        function sendMessage(){
            input=document.getElementById('send_msg');
            socket.emit('send_message',
                {
                    instance: "{{instance}}",
                    handle: "{{handle}}",
                    msg: input.value
                }
            )
            input.value="";
        }
        socket.on('send_ack',function(data) {
            msgarea=document.getElementById('message');
            msg=`<span><span class='yellow'>${data.handle}: </span><span>${data.msg}</span><span class="gray">${data.time}</span></span>`;
            msgarea.innerHTML+=msg;
            msgarea.scrollTop=msgarea.scrollHeight;
        })
        socket.on('intrusion',function(data){
            alert(data.msg);
            window.location.href='/';
        })
    </script>
</body>
</html>