<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Uplink</title>
    <link rel="stylesheet" href="{{url_for('static',filename='link.css')}}">
</head>
<body>
    <div class="background"></div>
    <div class="outercont">
        <div class="data">
            <form method="POST" action="/initiate">
                <input type="text" name="handle" id="handle" placeholder="Operator Handle" required>
                <input type="text" name="instance" id="instance" placeholder="Instance ID" required>
                <div class="button">
                    <button type="submit" id="deploy" name="action" value="deploy">Deploy Instance</button>
                    <button type="submit" id="join" name="action" value="join">Join Instance</button>
                </div>
            </form>
        </div>
        <div class="heading">
            <p id="quote"></p>
        </div>
        {%if error%}
        <div class="error" style="display: block;">
            <p id="error">Error: {{error}}</p>   
        </div>
        {%endif%}
    </div>
    <script>
        const quotes=[
            "Data is the new blood.",
            "Reality is firewalled.",
            "Only ghosts pass undetected.",
            "Everything is watched. Nothing is forgotten.",
            "The system sees all, but remembers what it shouldn't."
        ];
        function changeQuote(){
            let quote=document.getElementById("quote");
            quote.innerHTML=`\"${quotes[Math.floor(Math.random()*5)]}\"`;
        }
        changeQuote();
    </script>
</body>
</html>